/* App.css */
.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.recipe {
  border: 1px solid #000000;
  padding: 20px;
  text-align: center;
}

.recipe img {
  max-width: 100%;
  height: auto;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
}

@font-face {
  font-family: ultra;
  src: url(C:\Users\piotr\IdeaProjects\recipe-finder-app\public\Ultra-Regular.ttf);
}
.ultra {
  font-family: ultra;
}
.search-form input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.search-form button {
  padding: 10px 20px;
  background-color: #65d624;
  color: white;
  border: none;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #56df34;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.recipe-card {
  background-color: #f0f0f0d5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.recipe-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.recipe-card p {
  margin: 5px 0;
}

.recipe-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.recipe-card a:hover {
  text-decoration: underline;
}
